@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Crete Round', serif;
    font-family: 'Poppins', sans-serif;
}

:root{
     --bg-color: #251f27;
     --second-bg-color: #443949;
     --text-color: #fff;
     --main-color: #e100ff;
}

.loader {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: none;
     justify-content: center;
     align-items: center;
     background-color: var(--bg-color);
}

.loader::after {
     content: "";
     width: 75px;
     height: 75px;
     border: 15px solid var(--second-bg-color);
     border-top-color: var(--main-color);
     border-radius: 50%;
     animation: loading 0.75s ease infinite;
     transition: opacity 0.75s, visibility 0.75s;

}


.loader-active {
     display: flex;
     transition: opacity 0.75s, visibility 0.75s;

}


@keyframes loading {
     from{
          transform: rotate(0turn);
     }
     to{
          transform: rotate(1turn);
     }
}


html{
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     background: var(--bg-color);
     color: var(--text-color);
}


section{
     min-height: 90vh;
     padding: 10rem 9% 2rem;
}


.header {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     padding: 2rem 9%;
     background: var(--bg-color);
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
}

.header.sticky {
     border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
     color: var(--text-color);
     font-size: 2.5rem;
     font-weight: bold;
     cursor: default;
}

.navbar a{
     font-size: 1.7rem;
     margin-left: 4rem;
     color: var(--text-color);
     transition: .3s;
}

.navbar a:hover,
.navbar .active{
     color: var(--main-color);
}

#menu-icon {
     font-size: 3.6rem;
     color: var(--text-color);
     display: none;
}

.home{
     display: flex;
     justify-content: center;
     align-items: center;
}

.home-img img {
     padding-left: 10%;
     width: 35vw;
}

.home-content h3 {
     font-size: 3.2rem;
     font-weight: 700;
}

.home-content h3:nth-of-type(2) {
     margin-bottom: 2rem;
}

span {
     color: var(--main-color);
}

.home-content h1 {
     font-size: 5.6rem;
     font-weight: 700;
     line-height: 1.3;
}

.home-content p {
     font-size: 1.6rem;
}

.btn {
     display: inline-block;
     padding: 1rem 2.8rem;
     margin: 1rem;
     background: var(--main-color);
     border-radius: 4rem;
     box-shadow: 0 0 1rem var(--main-color);
     font-size: 1.6rem;
     color: var(--bg-color);
     letter-spacing: .1rem;
     font-weight: 600;
     transition: .5s;
}

.btn:hover {
     box-shadow: none;
}

.about {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     background: var(--bg-color);
}

.image-about img {
     width: 38vw;
}

.heading {
     text-align: center;
     font-size: 4.5rem;
}

.about-content h2{
     text-align: left;
     line-height: 5rem;
}

.about-content h3{
     font-size: 2.6rem;
     
}

.about-content p {
     font-size: 1.6rem;
     margin: 2rem 0 3rem;
}

.services h2{
     margin-bottom: 7rem;
}

.services-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 2rem;
}


.services-container .services-box {
     align-items: center;
     flex: 1 1 30rem;
     background: var(--second-bg-color);
     padding: 3rem 4rem 4rem;
     border-radius: 2rem;
     text-align: center;
     border: .2rem solid var(--bg-color);
     transition: .5s ease;
}

.services-container .services-box:hover{
     border-color: var(--main-color);
     transform: scale(1.02);
}

.services-box i {
     font-size: 7rem;
     color: var(--main-color);
}

.services-box h3 {
     font-size: 3rem;
}

.services-box p {
     font-size: 1.9em;
     margin: 1rem 0 3rem;
}



.contact {
     background: var(--bg-color);
     height: 70vh;
}

.contact h2 {
     margin-bottom: 3rem;
}

.contact form {
     max-width: 70rem;
     margin: 1rem auto;
     text-align: center;
     margin-bottom: 3rem;
}

.contact form .input-box {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
     width: 100%;
     padding: 1.5rem;
     font-size: 1.6rem;
     color: var(--text-color);
     background: var(--second-bg-color);
     border-radius: .8rem;
     margin: 0.7rem 0;
}

.contact form textarea {
     resize: none;
}

.contact form .btn {
     margin-top: 2rem;
     cursor: pointer;
}

.footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: 2rem 9%;
     background-color: var(--second-bg-color);
}

.footer-text p {
     font-size: 1.6rem;
}

.footer-iconTop a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     padding: .8rem;
     background: var(--main-color);
     border-radius: .8rem;
     transition: .4s;
}

.footer-iconTop a:hover {
     box-shadow: 0 0 1.4rem var(--main-color) ;
}

.footer-iconTop a i {
     font-size: 2.4rem;
     color: var(--bg-color);
}

@media (max-width: 1200px) {
     html{
          font-size: 55%;
     }
}

@media (max-width: 991px) {
     .header {
          padding: 2rem 3%;
     }

     section {
          padding: 10rem 3% 2rem;
     }

     .services {
          padding-bottom: 7rem;
     }
     
     .contact {
          min-height: auto;
     }

     .footer {
          padding: 2rem 3%;
     }
}

@media (max-width: 768px){
     #menu-icon {
          display: block;
     }

     .navbar{
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          padding: 1rem 3%;
          background-color: var(--second-bg-color);
          border-top: .1rem solid rgba(0, 0, 0, .2);
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
          display: none;
          transition: all 0.3s ease;
     }

     .navbar.active{
          display: block;
     }

     .navbar a {
          display: block;
          font-size: 2rem;
          margin: 3rem 0;
     }

     .home {
          flex-direction: column;
     }

     .home-content h3 {
          font-size: 2.6rem;
     }

     .home-content h1 {
          font-size: 5rem;
     }

     .home-img img {
          width: 80vw;
          margin-top: 4rem;
     }

     .about {
          flex-direction: column-reverse;
     }

     .about img {
          width: 80vw;
          margin-top: 4rem;
     }

     .services h2 {
          margin-bottom: 3rem;

     }
}

@media (max-width: 617px){

}

@media (max-width: 450px){
     html {
          font-size: 50%;
     }

     .contact form .input-box input {
          width: 100%;
     }
}

@media (max-width: 365px) {
     .home-img img {
          width: 90vw;
     }

     .about {
          width: 90vw;
     }

     .footer {
          flex-direction: column-reverse;
     }

     .footer p {
          text-align: center;
          margin-top: 2rem;
     }
}

::-webkit-scrollbar{
     width: 10px;
}

::-webkit-scrollbar-track {
     background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
     background: linear-gradient(#642bff, #ff22e6);
     border-radius: 10px;
}